<div class="container-fluid pb-5">
    <div class="row no-gutters mb-3">
        <button (click)="backToResults()" class="btn btn-link text-dark pl-0">
            <i class="fa fa-angle-left"></i>
            Back to Results
        </button>
    </div>
    <div *ngIf="item$ | async as item" class="row">
        <div class="col-4 item-detail-height">
            <div id="carouselExampleIndicators" class="carousel slide h-100" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner h-100">
                  <div *ngFor="let picture of item.pictures; first as isFirst" class="carousel-item h-100" [class.active]="isFirst">
                    <img src="{{picture}}" class="d-block w-100 h-100" alt="item_img">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-8 item-detail-height">
            <h2>{{item.name}}</h2>
            <p>{{item.price | currency}}</p>
            <p class="text-truncate text-wrap item-desc-height">
                {{item.description}}
            </p>
            <div class="btn-bottom">
                <div class="d-flex">
                    <label for="quantity" class="align-self-center mb-0 mr-3">Quantity</label>
                    <select [disabled]="!item.stockNumber" id="quantity" class="form-control quantity-width align-self-center">
                        <option *ngFor="let quantity of getListOfStock(item.stockNumber)">{{quantity}}</option>
                    </select>
                    <div *ngIf="!item.stockNumber" class="text-dark ml-2 mb-0 align-self-center alert alert-danger">No stock</div>
                </div>
                <div class="mt-3">
                    <button type="button" class="btn btn-outline-dark mr-2" (click)="addToCart(item)" [disabled]="isAddingToCart">
                        <span *ngIf="isAddingToCart" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Add to Cart
                    </button>
                    <button type="button" class="btn btn-outline-dark ml-2" (click)="buyNow(item)" [disabled]="isBuyingNow">
                        <span *ngIf="isBuyingNow" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Buy Now
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 my-4">
            <h5>Specifications</h5>
        </div>
        <div class="col-4">
            {{item.specification}}
        </div>
        <div class="col-4">
            XXX: XXX
        </div>
        <div class="col-4">
            XXX: XXX
        </div>
    </div>
</div>
<app-cust-toast class="toast-position-cust" text="Failed to add to cart" title="Error" [show]="isError" (closeToast)="isError = false;"></app-cust-toast>