.item-detail-height {
    height: 45vh;
}

.quantity-width {
    width: 6rem;
}

.btn-bottom {
    position: absolute;
    bottom: 0;
}

.item-desc-height {
    height: calc(100% - 180px);
}

.no-cursor {
    cursor: unset;
}

.toast-position-cust {
    position: fixed;
    top: 45vh;
    left: 45vw;
    min-width: 15rem;
}