<div class="container-fluid">
    <div class="row no-gutters w-100 text-header">
        View Stock
    </div>
    <div class="row no-gutters w-100 border-top border-secondary text-dark pt-1 px-4">
        <div class="col-7">Item</div>
        <div class="col">Unit Price</div>
        <div class="col">No. in Stock</div>
        <div class="col">No. Sold</div>
        <div class="col">Actions</div>
    </div>
    <div class="row no-gutters w-100">
        <div *ngFor="let sItem of items$ | async" class="card p-4 mt-3 w-100 text-dark shadow">
            <div class="row no-gutters">
                <div class="col-7 d-flex">
                    <img src="{{sItem.picture}}" alt="item_img" class="img-width-cust">
                    <div class="mx-3">
                        <div class="text-truncate text-wrap item-name-height">
                            {{sItem.name}}
                        </div>
                        <div class="text-truncate text-wrap item-desc-height mt-2">
                            {{sItem.description}}
                        </div>
                    </div>
                </div>
                <div class="col">{{sItem.price | currency}}</div>
                <div class="col">{{sItem.noInStock}}</div>
                <div class="col">{{sItem.noSold}}</div>
                <div class="col">
                    <button type="button" class="btn p-0" [routerLink]="['../edit-item', sItem.id]">
                        <i class="fa fa-edit"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>