.edit-item-height {
    height: 80px;
}

.padding-bottom-cust {
    padding-bottom: 90px;
}

.edit-item-mx-8rem {
    margin-left: 8rem;
    margin-right: 8rem;
}

label {
    margin-bottom: 2px;
}

.edit-btn-width {
    width: 80px;
}

.toast-position-cust {
    position: fixed;
    top: 45vh;
    left: 45vw;
    min-width: 15rem;
}

.img-height-cust {
    height: 8rem;
}