<div class="container-fluid">
    <div class="row no-gutters w-100 text-header">
        Purchase History
    </div>
    <div class="row no-gutters w-100 border-top border-secondary text-dark pt-1 px-4">
        <div class="col-6">Item</div>
        <div class="col">Unit Price</div>
        <div class="col">Quantity</div>
        <div class="col">Discount</div>
        <div class="col">Total</div>
        <div class="col">Date</div>
    </div>
    <div class="row no-gutters w-100">
        <div *ngFor="let phItem of purchaseItems$ | async" class="card p-4 mt-3 w-100 text-dark">
            <div class="row no-gutters">
                <div class="col-6 d-flex">
                    <img src="{{phItem.picture}}" alt="item_img" class="img-width-cust">
                    <div class="mx-3">
                        <div class="text-truncate text-wrap item-name-height">
                            {{phItem.itemName}}
                        </div>
                        <div class="text-truncate text-wrap item-desc-height mt-2">
                            {{phItem.itemDesc}}
                        </div>
                    </div>
                </div>
                <div class="col">{{phItem.itemPrice | currency}}</div>
                <div class="col">{{phItem.quantity}}</div>
                <div *ngIf="phItem.discountCode; else nodiscount" class="col">{{phItem.discountPercentage | percent}}</div>
                <ng-template #nodiscount>
                    <div class="col">None</div>
                </ng-template>
                <div class="col">{{phItem.total | currency}}</div>
                <div class="col">{{phItem.createdDate | date:'mediumDate'}}</div>
            </div>
        </div>
    </div>
</div>