<div class="container-fluid">
    <div class="row no-gutters text-header">
        Sign-Up
    </div>
    <div class="row no-gutters">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="w-100">
            <label class="w-100">
                <div class="pb-1">Username</div>
                <input id="username" type="text" class="form-control" placeholder="Username" formControlName="username" required>
            </label>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="username.errors?.required">Username is required</div>
            </div>
            <label class="w-100">
                <div class="pb-1">Password</div>
                <input id="password" type="text" class="form-control" placeholder="Password" formControlName="password" required>
            </label>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="password.errors?.required">Password is required</div>
            </div>
            <label class="w-100">
                <div class="pb-1">Re-enter password</div>
                <input id="repassword" type="text" class="form-control" placeholder="Password" formControlName="repassword" required>
            </label>
            <div *ngIf="repassword.invalid && (repassword.dirty || repassword.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="repassword.errors?.required">Re-enter password is required</div>
            </div>
            <div *ngIf="signupForm.errors?.repassword && (signupForm.dirty || signupForm.touched)" class="cross-validation-error-message alert alert-danger" role="alert">
                Re-enter password is different
            </div>
            <label class="w-100">
                <div class="pb-1">Email</div>
                <input id="email" type="text" class="form-control" placeholder="example@xx.com" formControlName="email" required>
            </label>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="email.errors?.required">Email is required</div>
            </div>
            <label class="w-100">
                <div class="pb-1">Address</div>
                <input id="address" type="text" class="form-control" placeholder="Address" formControlName="address" required>
            </label>
            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="address.errors?.required">Address is required</div>
            </div>
            <label class="w-100">
                <div class="pb-1">Mobile</div>
                <input id="mobile" type="text" class="form-control" placeholder="Mobile" formControlName="mobile" required>
            </label>
            <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="mobile.errors?.required">Mobile is required</div>
            </div>
            <button class="btn btn-outline-primary w-100 my-3" type="submit" [disabled]="!signupForm.valid">Sign Up As a Buyer</button>
        </form>
    </div>
    <div class="row no-gutters justify-content-end">
        <span>Already have an account?</span> <button routerLink="/auth/signin" type="button" class="btn btn-link p-0 ml-2">Sign In</button>
    </div>
</div>