<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-between flex-wrap px-4 py-4 w-100">
            <a routerLink="/selling" class="ml-4">
                <img src="../../assets/images/emart_logo.svg" alt="emart_logo">
            </a>
            <div class="align-self-center d-flex">
                <ul class="nav">
                    <li class="nav-item">
                        <a *ngIf="authService.isSeller; else signin" routerLink="/selling" (click)="onClickSignOut()" class="nav-link text-dark">
                            Sign Out
                        </a>
                        <ng-template #signin>
                            <a routerLink="/auth" class="nav-link text-dark">
                                Sign In
                            </a>
                        </ng-template>
                    </li>
                    <li class="nav-item">
                        <a routerLink="view-stock" class="nav-link text-dark">View</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="add-item" class="nav-link text-dark">Add</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="report" class="nav-link text-dark">Report</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="selling-px-8rem">
    <router-outlet></router-outlet>
</div>