<div class="container-fluid">
    <div class="row justify-content-center">
        <a routerLink="/shopping">
            <img class="p-4" src="../../../assets/images/emart_logo.svg" alt="emart_logo">
        </a>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-4 text-center text-dark font-weight-bold font-italic page-not-found-font-size">
            Page Not Found
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <button type="button" class="btn btn-link" routerLink="/shopping">Back to Home</button>
        </div>
    </div>
</div>