<div class="container-fluid">
    <div class="row no-gutters mb-3">
        <a routerLink="../" class="text-dark">
            <i class="fa fa-angle-left"></i>
            Back
        </a>
    </div>
    <div class="row no-gutters text-header">
        Seller Sign-Up
    </div>
    <div class="row no-gutters">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="w-100">
            <div *ngIf="errorSignup" class="alert alert-danger" role="alert">
                <div>Signup failed</div>
            </div>
            <label class="w-100">
                <div class="pb-1">Username</div>
                <input id="username" type="text" class="form-control" placeholder="Username" formControlName="username" required>
            </label>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="username.errors?.required">Required</div>
            </div>
            <label class="w-100">
                <div class="pb-1">Password</div>
                <input id="password" type="password" class="form-control" placeholder="Password" formControlName="password" required>
            </label>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="password.errors?.required">Required</div>
            </div>
            <label class="w-100">
                <div class="pb-1">Re-enter password</div>
                <input id="repassword" type="password" class="form-control" placeholder="Password" formControlName="repassword" required>
            </label>
            <div *ngIf="repassword.invalid && (repassword.dirty || repassword.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="repassword.errors?.required">Confirm your password</div>
            </div>
            <div *ngIf="signupForm.errors?.repassword && (signupForm.dirty || signupForm.touched)" class="cross-validation-error-message alert alert-danger" role="alert">
                Re-enter password is not the same
            </div>
            <label class="w-100">
                <div class="pb-1">Email</div>
                <input id="email" type="email" class="form-control" placeholder="example@xx.com" formControlName="email" required>
            </label>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="email.errors?.required">Required</div>
                <div *ngIf="email.errors?.email">Invalid email</div>
            </div>
            <label class="w-100">
                <div class="pb-1">Address</div>
                <input id="address" type="text" class="form-control" placeholder="Address" formControlName="address" required>
            </label>
            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="address.errors?.required">Required</div>
            </div>
            <label class="w-100">
                <div class="pb-1">Contact Number</div>
                <input id="contactnumber" type="text" class="form-control" placeholder="Contact Number" formControlName="contactnumber" required>
            </label>
            <div *ngIf="contactnumber.invalid && (contactnumber.dirty || contactnumber.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="contactnumber.errors?.required">Required</div>
            </div>
            <label class="w-100">
                <div class="pb-1">Company Name</div>
                <input id="companyname" type="text" class="form-control" placeholder="Company Name" formControlName="companyname" required>
            </label>
            <div *ngIf="companyname.invalid && (companyname.dirty || companyname.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="companyname.errors?.required">Required</div>
            </div>
            <label class="w-100">
                <div class="pb-1">Company Description</div>
                <input id="companydesc" type="text" class="form-control" placeholder="Company Description" formControlName="companydesc" required>
            </label>
            <div *ngIf="companydesc.invalid && (companydesc.dirty || companydesc.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="companydesc.errors?.required">Required</div>
            </div>
            <label class="w-100">
                <div class="pb-1">GSTIN</div>
                <input id="gstin" type="text" class="form-control" placeholder="GSTIN" formControlName="gstin" required>
            </label>
            <div *ngIf="gstin.invalid && (gstin.dirty || gstin.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="gstin.errors?.required">Required</div>
            </div>
            <button class="btn btn-outline-dark w-100 my-3" type="submit" [disabled]="!signupForm.valid || loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Sign Up As a Seller
            </button>
        </form>
    </div>
    <div class="row no-gutters justify-content-end">
        <span>Already have an account?</span> <button routerLink="/auth/signin" type="button" class="btn btn-link p-0 ml-2">Sign In</button>
    </div>
</div>