.item-name-height {
    height: 48px;
}

.item-desc-height {
    height: 96px;
}

.quantity-width {
    width: 4rem;
}

.checkout-min-height {
    min-height: 150px;
}

.checkout-mx-8rem {
    margin-left: 8rem;
    margin-right: 8rem;
}

.select-all-height {
    height: 36px;
}

.img-width-cust {
    width: 35%;
}

.discount-alert-cust {
    min-width: 4.5rem;
    padding: 0.375rem 0.75rem;
}