<div class="container-fluid">
    <div class="row no-gutters text-header">
        Sign-In
    </div>
    <div class="row no-gutters">
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="w-100">
            <label class="w-100">
                <div class="pb-1">Your role</div>
                <select class="form-control w-100" formControlName="role">
                    <option value="{{roles.BUYER}}">Buyer</option>
                    <option value="{{roles.SELLER}}">Seller</option>
                    <option value="{{roles.ADMIN}}">Admin</option>
                </select>
            </label>
            <label class="w-100">
                <div class="pb-1">Username</div>
                <input id="username" type="text" class="form-control" placeholder="Username" formControlName="username" required>
            </label>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="username.errors?.required">Username is required</div>
            </div>
            <label class="w-100">
                <div class="pb-1">Password</div>
                <input id="password" type="text" class="form-control" placeholder="Password" formControlName="password" required>
            </label>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="password.errors?.required">Password is required</div>
            </div>
            <button class="btn btn-outline-dark w-100 my-3" type="submit" [disabled]="!signinForm.valid">Sign-In</button>
        </form>
    </div>
    <div class="row no-gutters justify-content-end">
        <button routerLink="/auth/signup" type="button" class="btn btn-link p-0">Sign Up</button>
    </div>
</div>